<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/water.css">
	<title>dangerous - thread <%= @id %></title>
</head>
<body>
	<h1>dangerous - thread <%= @id %></h1>
	<div>
	<% @replies.each do |reply| %>
		<div style="padding-bottom: 1rem">
			<% user_color = Digest::SHA256.hexdigest(reply[2] + @id).slice(0, 6) %>
			<div style="color: #<%= user_color %>;">
				<%= user_color %>
			<% if reply[3] %>
				<span style="color: #ff0000;">##Admin:<%= reply[3] %>##</span>
			<% end %>
			</div>
			<div><%= reply[1] %></div>
		</div>
	<% end %>
	</div>
	<form action="/<%= @id %>" method="POST">
		<textarea name="content" placeholder="Your comment" cols=32 rows=4></textarea>
		<button type="submit">Submit Comment</button>
	</form>
	<div>
	</div>
</body>
</html>